{{#if level}}
  <span class='gb-name rollable' data-name='{{name}}{{#if mode}} ({{mode}}){{/if}}' data-key='system.melee.{{@key}}'
    data-otf='M:"{{name}}{{#if mode}} ({{mode}}){{/if}}"'>
    {{{gurpslink name}}} <span>({{level}})</span></span>:
{{else}}
  <span class='gb-name'>{{name}}</span>:
{{/if}}

{{#each damage}}
  {{#if reach}}
      {{#each damage}}
        <span class='gb-damage rollable' data-damage
          data-otf='{{this}}'>{{this}}</span>{{#if ../../cost}} per {{../../cost}}{{/if}}{{#unless @last}} and {{/unless}}
      {{else}}
        {{#if damage}}
          {{#each damage}}
            <span class=' gb-damage rollable' data-damage
              data-otf='{{this}}'>{{this}}</span>{{#if ../../cost}} per {{../../cost}}{{/if}}{{#unless}} and {{/unless}}
          {{else}}
            <span class='gb-damage rollable' data-damage data-otf='{{damage}}'>{{damage}}</span>{{#if cost}} per {{cost}}{{/if}}
          {{/each}}
        {{/if}}
      {{/each}}
      {{#if mode}}<span>({{mode}})</span>{{/if}},
      {{#if followup}}<span>plus {{followup}} follow-up,</span>{{/if}}
      Reach <span class='gb-reach'>{{reach}}</span>{{#unless @last}} <i>or</i>{{else}}.{{/unless}}
  {{else}}
    {{#if damage}}
      <span class='gb-damage rollable' data-damage data-otf='{{damage}}'>{{damage}}</span>{{#if usage}}<span>
          ({{usage}})</span>{{/if}}{{#if followup}}<span>plus
          {{followup}} follow-up,</span>{{/if}}{{#unless @last}} <i>or</i>{{else}}.{{/unless}}
    {{/if}}
  {{/if}}
{{/each}}

{{#if parry}}<span>Parry {{parry}}.</span>{{/if}}
{{#if notes}}<span class='gb-notes'>{{{gurpslink notes}}}</span>{{/if}}