<form class='gb-quick-reference {{cssClass}}' autocomplete='off'>
  <div>
    <div class='gb-top-border'>
    </div>
    <h1>
      {{actor.name}}
      {{#if system.traits.title}}<span class='subtype'> ({{system.traits.title}})</span>{{/if}}
    </h1>

    <div id='sb-attrs'>
      <div class='left-column'>
        <div id='sm-container'>
          <div id='portrait'>
            <div class='img-display'>
              <img class='profile-img' src='{{actor.img}}' data-edit='img' title='{{actor.name}}' />
            </div>
            {{#if isGM}}
              <button class='sharebutton' data-operation='share-portrait'>{{localize 'GURPS.share'}}</button>
            {{/if}}
          </div>
        </div>
      </div>

      <div class='right-column'>
        <div id='gb-attributes-detail'>
          {{#with system.attributes}}
            {{! ST, DX, IQ, HT }}
            <label class='gb-primary' for='st'>{{localize 'GURPS.attributesST'}}</label>
            <div id='st' class='gb-value gb-primary rollable' data-otf='ST' draggable='true'>{{ST.value}}</div>

            <label class='gb-primary' for='dx'>{{localize 'GURPS.attributesDX'}}</label>
            <div id='dx' class='gb-value gb-primary rollable' data-otf='DX' draggable='true'>{{DX.value}}</div>

            <label class='gb-primary' for='iq'>{{localize 'GURPS.attributesIQ'}}</label>
            <div id='iq' class='gb-value gb-primary rollable' data-otf='IQ' draggable='true'>
              {{#if (eq IQ.import '—')}}—{{else}}{{IQ.value}}{{/if}}
            </div>

            <label class='gb-primary' for='ht'>{{localize 'GURPS.attributesHT'}}</label>
            <div id='ht' class='gb-value gb-primary rollable' data-otf='HT' draggable='true'>{{HT.value}}</div>
          {{/with}}
          {{! Size Modifier }}
          <label class='sb-secondary' for='sm'>SM</label>
          <div id='sm' class='gb-value penalty gmod' data-name='for Size Modifier'
            data-otf='{{system.traits.sizemod}} for Size Modifier' draggable='true'>
            {{{displayNumber system.traits.sizemod}}}
          </div>

          {{! HP}}
          <label for='hp'>{{localize 'GURPS.HP'}}</label>
          <div class='gb-value'>{{system.HP.max}}</div>
          {{! Will }}
          <label for='will'>{{localize 'GURPS.attributesWILL'}}</label>
          <div id='will' class='gb-value rollable' data-otf='WILL' draggable='true'>{{system.attributes.WILL.value}}
          </div>
          {{! Per }}
          <label for='per'>{{localize 'GURPS.attributesPER'}}</label>
          <div id='per' class='gb-value rollable' data-otf='PER' draggable='true'>{{system.attributes.PER.value}}</div>
          {{! FP}}
          <label for='fp'>{{localize 'GURPS.FP'}}</label>
          <div class='gb-value'>{{system.FP.max}}</div>
          {{! Basic Speed }}
          <label class='sb-secondary' for='speed'>{{localize 'GURPS.speed'}}</label>
          <div id='speed' class='gb-value'>{{system.basicspeed.value}}</div>

          <div class='sb-secondary-attrs'>
            {{! Basic Lift }}
            <div>
              <label class='sb-secondary' for='lift'>{{localize 'GURPS.basicLift'}}</label>
              <div id='lift' class='gb-value'>{{system.liftingmoving.basiclift}}</div>
            </div>
            {{! Damage }}
            <div>
              <label class='sb-secondary' for='dmg'>Dmg</label>
              <div id='dmg' class='gb-value secondary'>
                <div class='rollable' data-damage data-otf='{{system.thrust}} dmg'>{{system.thrust}}</div>
                /
                <div class='rollable' data-damage data-otf='{{system.swing}} dmg'>{{system.swing}}</div>
              </div>
            </div>
          </div>

          {{! Basic Move }}
          <label class='sb-secondary' for='move'>{{localize 'GURPS.move'}}</label>
          <div id='move' class='label-below'>
            <div class='gb-move' data-key='{{@key}}' title='{{mode}}'>
              <div>
                <div class='gb-value secondary'>{{currentMove}}</div>
                {{#if (and currentMoveMode.enhanced (ne currentMoveMode.enhanced currentMove))}}
                  <div class='gb-value secondary'>/</div>
                  <div class='gb-value secondary'>{{currentMoveMode.enhanced}}</div>
                {{/if}}
                {{#if (ne currentMove (toNumber currentMoveMode.basic))}}
                  <div class='gb-value secondary'>&nbsp;({{currentMoveMode.basic}})</div>
                {{/if}}
              </div>
            </div>
            <select id='move-mode' {{disabled (lt (length system.move) 2)}}>
              {{#each system.move}}
                <option value='{{@key}}' {{select-if default true}}>{{localize mode}}</option>
              {{/each}}
            </select>
          </div>
        </div>

        <div id='trackers'>
          {{! HP Tracker }}
          <div class='label-below'>
            <div id='hp-container' class='with-button' data-gurps-resource='HP'>
              <button data-operation='resource-reset'>
                <span class='fas fa-rotate-left'></span>
              </button>
              <button name='reeling' data-onethird='reeling'>
                <span class='fas fa-heartbeat {{optionSetStyle system.conditions.reeling}}'></span>
              </button>
              <input type='number' id='hp' class='digits-only' value='{{system.HP.value}}' name='system.HP.value' />
            </div>
            <label>Current HP</label>
          </div>

          {{! FP Tracker }}
          {{#if (ne system.FP.max '–')}}
            <div class='label-below'>
              <div id='fp-container' class='with-button' data-gurps-resource='FP'>
                <input type='number' id='fp' class='digits-only' value='{{system.FP.value}}' name='system.FP.value' />
                <button data-operation='resource-reset'>
                  <span class='fas fa-rotate-left'></span>
                </button>
                <button name='exhausted' data-onethird='exhausted'>
                  <span class='fas fa-lungs {{optionSetStyle system.conditions.exhausted}}'></span>
                </button>
              </div>
              <label>Current FP</label>
            </div>
          {{/if}}

          {{#each system.additionalresources.tracker}}
            <div class='label-below'>
              <div id='cp-container' class='with-button'
                data-gurps-resource='additionalresources.tracker.{{zeroFill @key 4}}'>
                <input type='text' id='cp' class='digits-only'
                  name='system.additionalresources.tracker.{{zeroFill @key 4}}.value' value='{{value}}' />
                <button data-operation='resource-reset'>
                  <span class='fas fa-rotate-left'></span>
                </button>
              </div>
              <label>{{name}}</label>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
    <hr />

    {{#unless (and (empty system.melee) (empty system.ranged))}}
      <h2>Attacks</h2>
      {{#with
        (gb-sort
          (gb-mergeLists (gb-collapseRanged (gb-entries system.ranged)) (gb-collapseMelee (gb-entries system.melee)))
          sortfield='name'
        )
      }}
        <div id='gb-attacks' data-attacks='{{this.length}}'>
          <ul>
            {{#each this}}
              {{#if this.range}}
                <li class='gb-attack gb-attack-ranged'><i class="fa-solid fa-bow-arrow"></i>{{> gb-attack-ranged}}</li>
              {{else}}
                <li class='gb-attack gb-attack-melee'><i class="fa-solid fa-sword"></i>{{> gb-attack-melee}}</li>
              {{/if}}
            {{/each}}
          </ul>
        </div>
      {{/with}}
    {{/unless}}

    <hr />

    <div id='gb-traits-skills'>
      {{#unless (empty system.ads)}}
        <div id='gb-traits'>
          <h2>Traits</h2>
          <ul>
            {{#each (gb-traitFilter (flatlist system.ads))}}
              <li class='indent{{this.indent}}'>
                {{{gurpslink name}}}
                {{#if pageref}}<span class='pageref-text'>({{{pdflinkext this}}})</span>{{/if}}
                {{#if notes}}<br />
                  <span class='pageref-text'>{{{gurpslinkbr notes}}}</span>
                {{/if}}
              </li>
            {{/each}}
          </ul>
        </div>
      {{/unless}}

      {{#unless (empty system.skills)}}
        <div id='gb-skills'>
          <h2>Skills</h2>
          <ul>
            {{#each system.skills}}
              <li>
                {{#if (empty contains)}}
                  <span class='{{rollable level}}' data-name='{{name}}' data-key='system.skills.{{@key}}'
                    data-otf='Sk:"{{name}}"'>
                    {{{gurpslink this.name}}}-{{this.level}}
                  </span>
                  {{#if pageref}}<span class='pageref-text'>({{{pdflinkext this}}})</span>{{/if}}
                  {{#if notes}}<br /><span class='pageref-text'>{{{gurpslinkbr notes}}}</span>{{/if}}
                {{else}}
                  <i>{{name}}</i>
                  <ul>
                    {{#each contains}}
                      <li>
                        <span class='{{rollable level}}' data-name='{{name}}' data-key='system.skills.{{@key}}'
                          data-otf='Sk:"{{name}}"'>
                          {{{gurpslink this.name}}}-{{this.level}}
                        </span>
                        {{#if pageref}}<span class='pageref-text'>({{{pdflinkext this}}})</span>{{/if}}
                        {{#each contains}}
                          and
                          <span class='{{rollable level}}' data-name='{{name}}' data-key='system.skills.{{@key}}'
                            data-otf='Sk:"{{name}}"'>
                            {{{gurpslink this.name}}}-{{this.level}}
                          </span>
                          {{#if pageref}}<span class='pageref-text'>({{{pdflinkext this}}})</span>{{/if}}
                          {{#if notes}}<br /><span class='pageref-text'>{{{gurpslinkbr notes}}}</span>{{/if}}
                        {{/each}}
                        {{#if notes}}<br /><span class='pageref-text'>{{{gurpslinkbr notes}}}</span>{{/if}}
                      </li>
                    {{/each}}
                  </ul>
                {{/if}}
              </li>
            {{/each}}
          </ul>
        </div>
      {{/unless}}

      {{#unless (empty system.spells)}}
        <div id='gb-spells'>
          <h2>{{localize 'GURPS.spells'}}</h2>
          <ul>
            {{#each system.spells}}
              <li>
                {{#if (empty contains)}}
                  <span class='{{rollable level}}' data-name='{{name}}' data-key='system.spells.{{@key}}'
                    data-otf='Sp:"{{name}}"'>
                    {{{gurpslink this.name}}}-{{this.level}}
                    {{#if pageref}}<span class='pageref-text'>({{{pdflinkext this}}})</span>{{/if}}
                  </span>
                  {{#if notes}}<br /><span class='pageref-text'>{{{gurpslinkbr notes}}}</span>{{/if}}
                {{else}}
                  <i>{{name}}</i>
                  <ul>
                    {{#each contains}}
                      <li>
                        <span class='{{rollable level}}' data-name='{{name}}' data-key='system.spells.{{@key}}'
                          data-otf='Sp:"{{name}}"'>
                          {{{gurpslink this.name}}}-{{this.level}}
                          {{#if pageref}}<span class='pageref-text'>({{{pdflinkext this}}})</span>{{/if}}
                        </span>
                        {{#if notes}}<br /><span class='pageref-text'>{{{gurpslinkbr notes}}}</span>{{/if}}

                        {{#each contains}}
                          <span class='{{rollable level}}' data-name='{{name}}' data-key='system.spells.{{@key}}'
                            data-otf='Sp:"{{name}}"'>
                            {{{gurpslink this.name}}}-{{this.level}}
                            {{#if pageref}}<span class='pageref-text'>({{{pdflinkext this}}})</span>{{/if}}
                          </span>
                          {{#if notes}}<br /><span class='pageref-text'>{{{gurpslinkbr notes}}}</span>{{/if}}
                        {{/each}}
                      </li>
                    {{/each}}
                  </ul>
                {{/if}}
              </li>
            {{/each}}
          </ul>
        </div>
      {{/unless}}

      {{#unless (and (empty system.conditionalmods) (empty system.reactions))}}
        <div id='special-abilities'>
          <h2>Conditional Modifiers</h2>
          {{#each (gb-mergeLists (gb-entries system.conditionalmods) (gb-entries system.reactions))}}
            <ul>
              <li>
                <span class='gb-value penalty gmod' data-name='{{situation}}' data-otf='{{modifier}} {{situation}}'
                  draggable='true'>
                  {{{displayNumber modifier}}}
                </span>{{{gurpslink situation}}}
              </li>
            </ul>
          {{/each}}
        </div>
      {{/unless}}

      {{#unless (and (empty system.equipment.carried) (empty system.equipment.other))}}
        <div id='equipment'>
          <h2>Equipment</h2>
          {{#unless (empty system.equipment.carried)}}
            <h3>Combat Load ({{toLocaleString eqtsummary.eqtlbs}}
              lb; ${{toLocaleString eqtsummary.eqtcost}}):</h3>
            <ul id='equip-carried'>
              {{!#each (flatlist (lookup system.equipment 'carried'))}}
              {{#each system.equipment.carried}}
                <li class='equipment indent{{this.indent}}'>
                  {{#if (empty contains)}}
                    {{#if (gt (gb-round count) 1)}}{{gb-round count}}× {{/if}}
                    {{this.name}}
                    {{#if (gt (gb-round count) 1)}}
                      {{#if (or (gb-round costsum) (gb-round weightsum))}}(${{costsum}}, {{gb-round weightsum}}
                        lbs.){{/if}}
                    {{else}}
                      {{#if (or (gb-round cost) (gb-round weight))}}(${{cost}}, {{gb-round weight}} lbs.){{/if}}
                    {{/if}}

                  {{else}}
                    <i>{{name}}</i>
                    <ul>
                      {{#each contains}}
                        <li class='equipment indent{{this.indent}}'>
                          {{#if (gt (gb-round count) 1)}}{{gb-round count}}× {{/if}}
                          {{this.name}}
                          {{#if (gt (gb-round count) 1)}}
                            {{#if (or (gb-round costsum) (gb-round weightsum))}}(${{costsum}}, {{gb-round weightsum}}
                              lbs.){{/if}}
                          {{else}}
                            {{#if (or (gb-round cost) (gb-round weight))}}(${{cost}}, {{gb-round weight}} lbs.){{/if}}
                          {{/if}}
                        </li>
                      {{/each}}
                    </ul>
                  {{/if}}
                </li>
              {{/each}}
            </ul>
          {{/unless}}

          {{#unless (empty system.equipment.other)}}
            <h3>Other ({{toLocaleString eqtsummary.otherlbs}}
              lb; ${{toLocaleString eqtsummary.othercost}}):</h3>
            <ul>
              {{#each (flatlist (lookup system.equipment 'other'))}}
                <li class='equipment indent{{this.indent}}'>
                  {{#if (gt (gb-round count) 1)}}{{gb-round count}}× {{/if}}
                  {{this.name}}
                  {{#if (gt (gb-round count) 1)}}
                    {{#if (or (gb-round costsum) (gb-round weightsum))}}(${{costsum}},
                      {{gb-round weightsum}}
                      lbs.){{/if}}
                  {{else}}
                    {{#if (or (gb-round cost) (gb-round weight))}}(${{cost}}, {{gb-round weight}} lbs.){{/if}}
                  {{/if}}
                </li>
              {{/each}}
            </ul>
          {{/unless}}
        </div>
      {{/unless}}
    </div>

    {{#unless (empty system.notes)}}
      <h2>Special Abilities + Notes</h2>
      <div id='gb-abilities'>
        {{#each system.notes}}
          <div class='gb-ability'>
            {{#if title}}<span class='gb-name'>{{{gurpslink title}}}&thinsp;</span>{{/if}}{{{gurpslinkbr notes}}}
          </div>
        {{/each}}
      </div>
    {{/unless}}

  </div>

  <div id='bottom-border'>
    <div id='gb-footer'>
      <div id='gb-defenses'>
        <h3>Defenses</h3>
        <div id='gb-defenses-detail'>
          <div class='gb-defense'>
            <div class='gb-label'>{{localize 'GURPS.parry'}}</div>
            <div class='gb-defense-container'>
              {{#if (and system.equippedparry (not (eq system.equippedparry '–')))}}
                <div class='gb-value rollable {{ifThen system.defenses.parry.bonus "with-bonus" ""}}' data-path='parry'
                  data-otf='Parry'>
                  {{system.equippedparry}}{{#if system.equippedparryisfencing}}F{{/if}}
                </div>
                {{#if system.defenses.parry.bonus}}
                  <div class='gb-value gb-bonus rollable'
                    data-otf='Parry {{{displayNumber system.defenses.parry.bonus}}} DB'>
                    {{{displayNumber system.defenses.parry.bonus}}}
                  </div>
                {{/if}}
              {{else}}
                <div class='gb-value'>–</div>
              {{/if}}
            </div>
          </div>
          <div class='gb-defense'>
            <div class='gb-label'>{{localize 'GURPS.dodge'}}</div>
            <div class='gb-defense-container'>
              <div class='gb-value rollable {{ifThen system.defenses.dodge.bonus "with-bonus" ""}}' data-path='dodge'
                data-otf='Dodge'>
                {{system.currentdodge}}
              </div>
              {{#if system.defenses.dodge.bonus}}
                <div class='gb-value gb-bonus rollable'
                  data-otf='Dodge {{{displayNumber system.defenses.dodge.bonus}}} DB'>
                  {{{displayNumber system.defenses.dodge.bonus}}}
                </div>
              {{/if}}
            </div>
          </div>
          <div class='gb-defense'>
            <div class='gb-label'>{{localize 'GURPS.block'}}</div>
            <div class='gb-defense-container'>
              {{#if (and system.equippedblock (not (eq system.equippedblock '–')))}}
                <div class='gb-value rollable {{ifThen system.defenses.block.bonus "with-bonus" ""}}' data-path='block'
                  data-otf='Block'>
                  {{system.equippedblock}}
                </div>
                {{#if system.defenses.block.bonus}}
                  <div class='gb-value gb-bonus rollable'
                    data-otf='Block {{{displayNumber system.defenses.block.bonus}}} DB'>
                    {{{displayNumber system.defenses.block.bonus}}}
                  </div>
                {{/if}}
              {{else}}
                <div class='gb-value'>–</div>
              {{/if}}
            </div>
          </div>
          <div class='gb-defense'>
            {{#with torso}}
              <div class='gb-label'>{{localize 'GURPS.hitLocationDR'}}</div>
              <div class='gb-value'>{{dr}}{{#if split.cr}}/{{split.cr}}{{/if}}</div>
            {{/with}}
          </div>
        </div>
      </div>
      <div id='gb-control-thresholds'>
        <h3>Control Thresholds</h3>
        <div class='gb-control-threshold-detail'>
          {{#with (gb-tracker data 'Control Points')}}
            {{#each (controlBreakpoints this)}}
              {{#if (ne label 'Unrestrained')}}
                <div class='gb-defense' title='{{localize label}}'
                  {{#if (eq @index (breakpointIndex-of ../thresholds ../max  ../value))}} style='background: {{color}}'
                  {{/if}}>
                  <div class='gb-label'>{{gb-thresholdAbbrev label}}</div>
                  <div class='gb-value'>{{breakpoint}}</div>
                </div>
              {{/if}}
            {{/each}}
          {{/with}}
        </div>
      </div>
      <div id='bottom'>
        <div></div>
        <div class='gb-version'>{{version}}</div>
        <a id='copyright' href='https://gamingballistic.com/2018/11/16/admin-gaming-ballistic-on-the-web/'>
          {{#if copyright}}{{copyright}}{{else}}©2024 Gaming Ballistic, LLC{{/if}}</a>
        <div id='pageref' class='gb-link'>{{flags.gurps.book}}{{pageref}}</div>
      </div>
    </div>
  </div>
</form>